<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>calt1</key>
    <array>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>uni0410</string>
      <string>uni0411</string>
      <string>uni0412</string>
      <string>uni0413</string>
      <string>uni0414</string>
      <string>uni0415</string>
      <string>uni0416</string>
      <string>uni0417</string>
      <string>uni0418</string>
      <string>uni0419</string>
      <string>uni041A</string>
      <string>uni041B</string>
      <string>uni041C</string>
      <string>uni041D</string>
      <string>uni041E</string>
      <string>uni041F</string>
      <string>uni0420</string>
      <string>uni0421</string>
      <string>uni0422</string>
      <string>uni0423</string>
      <string>uni0424</string>
      <string>uni0425</string>
      <string>uni0426</string>
      <string>uni0427</string>
      <string>uni0428</string>
      <string>uni0429</string>
      <string>uni042A</string>
      <string>uni042B</string>
      <string>uni042C</string>
      <string>uni042D</string>
      <string>uni042E</string>
      <string>uni042F</string>
      <string>uni0401</string>
      <string>K_alt</string>
      <string>W_alt</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Ccedilla</string>
      <string>Ecircumflex</string>
      <string>Icircumflex</string>
      <string>Odieresis</string>
      <string>Udieresis</string>
      <string>Abreve</string>
      <string>Idotaccent</string>
      <string>Scedilla</string>
      <string>uni0162</string>
      <string>uni0218</string>
      <string>uni021A</string>
      <string>uni04C1</string>
    </array>
    <key>calt2</key>
    <array>
      <string>o</string>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>q</string>
      <string>s</string>
      <string>u</string>
      <string>y</string>
      <string>t</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>ccedilla</string>
      <string>ecircumflex</string>
      <string>odieresis</string>
      <string>udieresis</string>
      <string>u_alt</string>
      <string>y_alt</string>
      <string>s_alt</string>
      <string>c_alt</string>
      <string>t_alt</string>
      <string>t2.alt</string>
      <string>g_alt</string>
      <string>a_alt</string>
      <string>abreve</string>
      <string>scedilla</string>
      <string>uni0163</string>
      <string>uni0219</string>
      <string>uni021B</string>
      <string>uni0430</string>
      <string>uni0431</string>
      <string>uni0435</string>
      <string>uni0437</string>
      <string>uni043E</string>
      <string>uni0441</string>
      <string>uni0444</string>
      <string>uni044D</string>
      <string>uni0451</string>
      <string>space</string>
      <string>zero</string>
      <string>one</string>
      <string>three</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>f</string>
      <string>v</string>
      <string>endash</string>
      <string>emdash</string>
      <string>uni00AD</string>
      <string>hyphen.uc</string>
      <string>uni00AD.uc</string>
      <string>endash.uc</string>
      <string>emdash.uc</string>
      <string>minus</string>
      <string>hyphen</string>
      <string>t0163.alt</string>
      <string>t021b.alt</string>
      <string>a2_alt</string>
      <string>a00E2.alt</string>
      <string>a00E4.alt</string>
      <string>a0103.alt</string>
    </array>
    <key>pnum1</key>
    <array>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>colon.uc</string>
    </array>
    <key>public.kern1._kern10</key>
    <array>
      <string>uni0431</string>
      <string>uni0435</string>
      <string>uni0437</string>
      <string>uni043E</string>
      <string>uni0440</string>
      <string>uni0441</string>
      <string>uni0444</string>
      <string>uni044D</string>
      <string>uni044E</string>
      <string>uni0451</string>
    </array>
    <key>public.kern1._kern12</key>
    <array>
      <string>uni0414</string>
      <string>uni0426</string>
      <string>uni0429</string>
    </array>
    <key>public.kern1._kern13</key>
    <array>
      <string>uni0434</string>
      <string>uni0446</string>
      <string>uni0449</string>
    </array>
    <key>public.kern1._kern14</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1._kern16</key>
    <array>
      <string>K</string>
      <string>K_alt</string>
      <string>uni0136</string>
    </array>
    <key>public.kern1._kern19</key>
    <array>
      <string>W</string>
      <string>W_alt</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1._kern2</key>
    <array>
      <string>Eng</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Jcircumflex</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>uni0145</string>
      <string>uni0408</string>
    </array>
    <key>public.kern1._kern20</key>
    <array>
      <string>w</string>
      <string>w_alt</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1._kern21</key>
    <array>
      <string>t</string>
      <string>t_alt</string>
      <string>tbar</string>
      <string>uni0163</string>
      <string>uni021B</string>
    </array>
    <key>public.kern1._kern23</key>
    <array>
      <string>uni0413</string>
      <string>uni0490</string>
    </array>
    <key>public.kern1._kern24</key>
    <array>
      <string>uni0433</string>
      <string>uni0491</string>
    </array>
    <key>public.kern1._kern27</key>
    <array>
      <string>a</string>
      <string>a00E2.alt</string>
      <string>a00E4.alt</string>
      <string>a0103.alt</string>
      <string>a_alt</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>uni0430</string>
    </array>
    <key>public.kern1._kern28</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>uni0422</string>
    </array>
    <key>public.kern1._kern29</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
    </array>
    <key>public.kern1._kern30</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>uni0410</string>
    </array>
    <key>public.kern1._kern31</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1._kern4</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0122</string>
      <string>uni0405</string>
    </array>
    <key>public.kern1._kern6</key>
    <array>
      <string>b</string>
      <string>c</string>
      <string>c_alt</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>eth</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>oe</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>s</string>
      <string>s_alt</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
    </array>
    <key>public.kern1._kern8</key>
    <array>
      <string>uni0417</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>uni0424</string>
      <string>uni042D</string>
      <string>uni042E</string>
    </array>
    <key>public.kern2._kern1</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Edotaccent</string>
      <string>Emacron</string>
      <string>Eng</string>
      <string>Eogonek</string>
      <string>Eth</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Thorn</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>germandbls</string>
      <string>uni013B</string>
      <string>uni0145</string>
      <string>uni0156</string>
    </array>
    <key>public.kern2._kern11</key>
    <array>
      <string>uni0432</string>
      <string>uni0438</string>
      <string>uni043A</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0440</string>
      <string>uni0446</string>
      <string>uni0447</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044B</string>
      <string>uni044C</string>
      <string>uni044E</string>
      <string>uni044F</string>
    </array>
    <key>public.kern2._kern14</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2._kern15</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2._kern17</key>
    <array>
      <string>k</string>
      <string>k_alt</string>
      <string>kgreenlandic</string>
      <string>uni0137</string>
    </array>
    <key>public.kern2._kern19</key>
    <array>
      <string>W</string>
      <string>W_alt</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2._kern20</key>
    <array>
      <string>w</string>
      <string>w_alt</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2._kern21</key>
    <array>
      <string>t</string>
      <string>t_alt</string>
      <string>tbar</string>
      <string>uni0163</string>
      <string>uni021B</string>
    </array>
    <key>public.kern2._kern24</key>
    <array>
      <string>uni0433</string>
      <string>uni0491</string>
    </array>
    <key>public.kern2._kern27</key>
    <array>
      <string>a</string>
      <string>a00E2.alt</string>
      <string>a00E4.alt</string>
      <string>a0103.alt</string>
      <string>a_alt</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>uni0430</string>
    </array>
    <key>public.kern2._kern28</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>uni0422</string>
    </array>
    <key>public.kern2._kern29</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
    </array>
    <key>public.kern2._kern3</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0122</string>
    </array>
    <key>public.kern2._kern30</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>uni0410</string>
    </array>
    <key>public.kern2._kern31</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2._kern5</key>
    <array>
      <string>a2_alt</string>
      <string>c</string>
      <string>c_alt</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>eth</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>oe</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>q</string>
      <string>s</string>
      <string>s_alt</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0123</string>
      <string>uni0219</string>
    </array>
    <key>public.kern2._kern7</key>
    <array>
      <string>uni0417</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>uni0424</string>
      <string>uni042D</string>
    </array>
    <key>public.kern2._kern9</key>
    <array>
      <string>uni0435</string>
      <string>uni0437</string>
      <string>uni043E</string>
      <string>uni0441</string>
      <string>uni0444</string>
      <string>uni044D</string>
      <string>uni0451</string>
    </array>
    <key>tnum1</key>
    <array>
      <string>uniE000</string>
      <string>uniE001</string>
      <string>uniE002</string>
      <string>uniE003</string>
      <string>uniE004</string>
      <string>uniE005</string>
      <string>uniE006</string>
      <string>uniE007</string>
      <string>uniE008</string>
      <string>uniE009</string>
      <string>uniE010</string>
      <string>uniE011</string>
      <string>uniE012</string>
      <string>uniE013</string>
      <string>uniE014</string>
      <string>uniE015</string>
      <string>uniE016</string>
      <string>uniE017</string>
      <string>uniE018</string>
      <string>uniE019</string>
      <string>uniE020</string>
      <string>uniE021</string>
      <string>uniE022</string>
    </array>
  </dict>
</plist>
