<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>970</integer>
  <key>capHeight</key>
  <integer>708</integer>
  <key>copyright</key>
  <string>Copyright 2021 The Onest Project Authors (https://github.com/googlefonts/onest)</string>
  <key>descender</key>
  <integer>-305</integer>
  <key>familyName</key>
  <string>Onest</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>300</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>color</key>
    <string>0,1,0,1</string>
    <key>name</key>
    <string>f1</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>769</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>color</key>
    <string>0,1,0,1</string>
    <key>name</key>
    <string>f2</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>599</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2022/02/06 15:38:19</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>970</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>-0</integer>
  <key>openTypeHheaDescender</key>
  <integer>-305</integer>
  <key>openTypeHheaLineGap</key>
  <integer>-0</integer>
  <key>openTypeNameDesigner</key>
  <string>Dmitri Voloshin, Andrey Kudryavtsev</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://onest.md</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Dmitri Voloshin, Andrey Kudryavtsev</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://onest.md</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Onest</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Bold</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.000</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>4</integer>
    <integer>7</integer>
    <integer>29</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>11</integer>
    <integer>8</integer>
    <integer>3</integer>
    <integer>4</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>0</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>250</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>700</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>140</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>700</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>477</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>650</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>970</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-305</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>-0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>5</integer>
    <integer>6</integer>
    <integer>9</integer>
    <integer>31</integer>
    <integer>33</integer>
    <integer>35</integer>
    <integer>37</integer>
    <integer>38</integer>
    <integer>47</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>PYRS</string>
  <key>openTypeOS2WeightClass</key>
  <integer>700</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>970</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>305</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-8</integer>
    <integer>0</integer>
    <integer>527</integer>
    <integer>538</integer>
    <integer>708</integer>
    <integer>748</integer>
  </array>
  <key>postscriptFontName</key>
  <string>Onest-Bold</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Onest Bold</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-274</integer>
    <integer>-218</integer>
  </array>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>136</integer>
    <integer>125</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>152</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-75</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Bold</string>
  <key>styleMapFamilyName</key>
  <string>Onest</string>
  <key>styleMapStyleName</key>
  <string>bold</string>
  <key>styleName</key>
  <string>Bold</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>527</integer>
  <key>year</key>
  <integer>2021</integer>
</dict>
</plist>
