<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>public.kern2._kern19</key>
      <integer>-10</integer>
      <key>public.kern2._kern31</key>
      <integer>-10</integer>
    </dict>
    <key>Ccedilla</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2._kern28</key>
      <integer>-10</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>d</key>
      <integer>10</integer>
      <key>public.kern2._kern28</key>
      <integer>-10</integer>
      <key>public.kern2._kern3</key>
      <integer>15</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>20</integer>
      <key>public.kern2._kern15</key>
      <integer>20</integer>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>J</key>
      <integer>-30</integer>
      <key>public.kern2._kern14</key>
      <integer>-30</integer>
      <key>public.kern2._kern27</key>
      <integer>-30</integer>
      <key>public.kern2._kern28</key>
      <integer>20</integer>
      <key>public.kern2._kern30</key>
      <integer>-50</integer>
      <key>public.kern2._kern5</key>
      <integer>-25</integer>
      <key>quotedblright</key>
      <integer>20</integer>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>public.kern2._kern28</key>
      <integer>-10</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>bracketright</key>
      <integer>40</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-20</integer>
      <key>public.kern2._kern30</key>
      <integer>-10</integer>
    </dict>
    <key>K_alt</key>
    <dict>
      <key>d</key>
      <integer>-20</integer>
      <key>public.kern2._kern20</key>
      <integer>-20</integer>
      <key>public.kern2._kern3</key>
      <integer>-30</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <integer>30</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>X</key>
      <integer>10</integer>
      <key>j</key>
      <integer>20</integer>
      <key>public.kern2._kern14</key>
      <integer>40</integer>
      <key>public.kern2._kern15</key>
      <integer>20</integer>
      <key>public.kern2._kern19</key>
      <integer>-40</integer>
      <key>public.kern2._kern27</key>
      <integer>10</integer>
      <key>public.kern2._kern28</key>
      <integer>-40</integer>
      <key>public.kern2._kern30</key>
      <integer>20</integer>
      <key>public.kern2._kern31</key>
      <integer>-80</integer>
      <key>public.kern2._kern5</key>
      <integer>10</integer>
      <key>quoteright</key>
      <integer>-60</integer>
      <key>y2_alt</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>20</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>C</key>
      <integer>10</integer>
      <key>Ccedilla</key>
      <integer>10</integer>
      <key>G</key>
      <integer>10</integer>
      <key>J</key>
      <integer>-50</integer>
      <key>Q</key>
      <integer>10</integer>
      <key>S</key>
      <integer>10</integer>
      <key>X</key>
      <integer>-25</integer>
      <key>comma</key>
      <integer>-60</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2._kern14</key>
      <integer>-90</integer>
      <key>public.kern2._kern27</key>
      <integer>-20</integer>
      <key>public.kern2._kern30</key>
      <integer>-50</integer>
      <key>public.kern2._kern31</key>
      <integer>-15</integer>
      <key>public.kern2._kern5</key>
      <integer>-10</integer>
      <key>quotedblbase</key>
      <integer>-60</integer>
      <key>quotedblright</key>
      <integer>20</integer>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2._kern15</key>
      <integer>20</integer>
      <key>public.kern2._kern28</key>
      <integer>-10</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>public.kern2._kern27</key>
      <integer>-10</integer>
      <key>public.kern2._kern31</key>
      <integer>-20</integer>
      <key>public.kern2._kern5</key>
      <integer>-10</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2._kern28</key>
      <integer>-10</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-60</integer>
      <key>public.kern2._kern27</key>
      <integer>-20</integer>
      <key>public.kern2._kern30</key>
      <integer>-10</integer>
      <key>public.kern2._kern5</key>
      <integer>-10</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>J</key>
      <integer>-80</integer>
      <key>braceright</key>
      <integer>20</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>m</key>
      <integer>-20</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2._kern14</key>
      <integer>-80</integer>
      <key>public.kern2._kern15</key>
      <integer>-20</integer>
      <key>public.kern2._kern27</key>
      <integer>-50</integer>
      <key>public.kern2._kern29</key>
      <integer>-20</integer>
      <key>public.kern2._kern3</key>
      <integer>-25</integer>
      <key>public.kern2._kern30</key>
      <integer>-50</integer>
      <key>public.kern2._kern5</key>
      <integer>-50</integer>
      <key>quotedblright</key>
      <integer>10</integer>
      <key>quoteright</key>
      <integer>20</integer>
      <key>space</key>
      <integer>-80</integer>
      <key>u</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>W_alt</key>
    <dict>
      <key>public.kern2._kern30</key>
      <integer>-40</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>Ccedilla</key>
      <integer>-30</integer>
      <key>S</key>
      <integer>-30</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>public.kern2._kern14</key>
      <integer>20</integer>
      <key>public.kern2._kern15</key>
      <integer>20</integer>
      <key>public.kern2._kern3</key>
      <integer>-10</integer>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>bracketright</key>
      <integer>20</integer>
      <key>public.kern2._kern15</key>
      <integer>30</integer>
      <key>quoteright</key>
      <integer>20</integer>
      <key>quotesingle</key>
      <integer>40</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>d</key>
      <integer>10</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>backslash</key>
      <integer>-210</integer>
      <key>public.kern2._kern11</key>
      <integer>40</integer>
      <key>public.kern2._kern9</key>
      <integer>20</integer>
      <key>uni0414</key>
      <integer>60</integer>
      <key>uni0434</key>
      <integer>60</integer>
      <key>uni0436</key>
      <integer>40</integer>
      <key>uni0447</key>
      <integer>-20</integer>
      <key>uni0491</key>
      <integer>40</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>V</key>
      <integer>20</integer>
      <key>j</key>
      <integer>40</integer>
      <key>public.kern2._kern19</key>
      <integer>20</integer>
      <key>public.kern2._kern28</key>
      <integer>40</integer>
      <key>uni0414</key>
      <integer>40</integer>
      <key>uni0423</key>
      <integer>40</integer>
      <key>uni0434</key>
      <integer>40</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>I</key>
      <integer>40</integer>
      <key>V</key>
      <integer>40</integer>
      <key>X</key>
      <integer>40</integer>
      <key>Z</key>
      <integer>20</integer>
      <key>i</key>
      <integer>40</integer>
      <key>j</key>
      <integer>40</integer>
      <key>l</key>
      <integer>40</integer>
      <key>public.kern2._kern19</key>
      <integer>40</integer>
      <key>public.kern2._kern28</key>
      <integer>40</integer>
      <key>public.kern2._kern31</key>
      <integer>40</integer>
      <key>uni0414</key>
      <integer>40</integer>
      <key>uni0423</key>
      <integer>40</integer>
      <key>uni0425</key>
      <integer>40</integer>
      <key>uni0434</key>
      <integer>40</integer>
      <key>uni0443</key>
      <integer>20</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
    </dict>
    <key>c_alt</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>ccedilla</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>colon</key>
    <dict>
      <key>backslash</key>
      <integer>-70</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>public.kern2._kern5</key>
      <integer>-20</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>bracketright</key>
      <integer>40</integer>
      <key>public.kern2._kern5</key>
      <integer>-10</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>50</integer>
      <key>quotesingle</key>
      <integer>40</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>four</key>
      <integer>20</integer>
      <key>public.kern2._kern14</key>
      <integer>10</integer>
    </dict>
    <key>i</key>
    <dict>
      <key>bracketright</key>
      <integer>40</integer>
      <key>quotedblright</key>
      <integer>20</integer>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>bracketright</key>
      <integer>40</integer>
      <key>j</key>
      <integer>20</integer>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>k_alt</key>
    <dict>
      <key>d</key>
      <integer>-10</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>bracketright</key>
      <integer>40</integer>
      <key>quotedblright</key>
      <integer>20</integer>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>public.kern2._kern5</key>
      <integer>-20</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-20</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>public.kern2._kern21</key>
      <integer>-20</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2._kern5</key>
      <integer>-20</integer>
      <key>uni0414</key>
      <integer>40</integer>
      <key>uni0422</key>
      <integer>40</integer>
      <key>uni0434</key>
      <integer>40</integer>
      <key>uni0443</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1._kern10</key>
    <dict>
      <key>uni0431</key>
      <integer>10</integer>
      <key>uni0434</key>
      <integer>-12</integer>
      <key>uni0436</key>
      <integer>-10</integer>
      <key>uni043B</key>
      <integer>-5</integer>
      <key>uni0445</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1._kern12</key>
    <dict>
      <key>braceright</key>
      <integer>40</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>colon</key>
      <integer>30</integer>
      <key>parenright</key>
      <integer>40</integer>
      <key>public.kern2._kern14</key>
      <integer>30</integer>
      <key>slash</key>
      <integer>50</integer>
      <key>uni0410</key>
      <integer>20</integer>
      <key>uni0414</key>
      <integer>50</integer>
      <key>uni041B</key>
      <integer>20</integer>
      <key>uni0422</key>
      <integer>-10</integer>
      <key>uni0427</key>
      <integer>-20</integer>
      <key>uni042A</key>
      <integer>-20</integer>
      <key>uni0434</key>
      <integer>50</integer>
      <key>uni043B</key>
      <integer>20</integer>
      <key>uni0440</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1._kern13</key>
    <dict>
      <key>braceright</key>
      <integer>40</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>colon</key>
      <integer>20</integer>
      <key>parenright</key>
      <integer>40</integer>
      <key>public.kern2._kern14</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>30</integer>
      <key>uni0434</key>
      <integer>50</integer>
      <key>uni043B</key>
      <integer>20</integer>
      <key>uni0442</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1._kern14</key>
    <dict>
      <key>U</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-80</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>public.kern2._kern19</key>
      <integer>-40</integer>
      <key>public.kern2._kern28</key>
      <integer>-80</integer>
      <key>public.kern2._kern3</key>
      <integer>-20</integer>
      <key>public.kern2._kern30</key>
      <integer>30</integer>
      <key>public.kern2._kern31</key>
      <integer>-80</integer>
      <key>quotedblleft</key>
      <integer>-50</integer>
      <key>quotedblright</key>
      <integer>-50</integer>
      <key>quoteleft</key>
      <integer>-50</integer>
      <key>quoteright</key>
      <integer>-50</integer>
      <key>space</key>
      <integer>-50</integer>
      <key>three</key>
      <integer>10</integer>
      <key>two</key>
      <integer>40</integer>
      <key>uni0414</key>
      <integer>30</integer>
      <key>uni0417</key>
      <integer>-20</integer>
      <key>uni0424</key>
      <integer>-50</integer>
      <key>uni0427</key>
      <integer>-80</integer>
      <key>uni0434</key>
      <integer>40</integer>
      <key>uni0442</key>
      <integer>-20</integer>
      <key>uni0443</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>y2_alt</key>
      <integer>-20</integer>
      <key>zero</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1._kern16</key>
    <dict>
      <key>public.kern2._kern27</key>
      <integer>-10</integer>
      <key>public.kern2._kern28</key>
      <integer>10</integer>
      <key>v</key>
      <integer>-30</integer>
      <key>y2_alt</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1._kern19</key>
    <dict>
      <key>J</key>
      <integer>-30</integer>
      <key>braceright</key>
      <integer>20</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>d</key>
      <integer>-25</integer>
      <key>public.kern2._kern14</key>
      <integer>-40</integer>
      <key>public.kern2._kern27</key>
      <integer>-35</integer>
      <key>public.kern2._kern3</key>
      <integer>-5</integer>
      <key>public.kern2._kern30</key>
      <integer>-30</integer>
      <key>quotedblright</key>
      <integer>10</integer>
      <key>quoteright</key>
      <integer>20</integer>
      <key>quotesingle</key>
      <integer>40</integer>
      <key>space</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1._kern20</key>
    <dict>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1._kern21</key>
    <dict>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
      <key>quotesingle</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1._kern23</key>
    <dict>
      <key>public.kern2._kern11</key>
      <integer>-40</integer>
      <key>public.kern2._kern14</key>
      <integer>-100</integer>
      <key>public.kern2._kern15</key>
      <integer>-40</integer>
      <key>public.kern2._kern24</key>
      <integer>-50</integer>
      <key>public.kern2._kern7</key>
      <integer>-30</integer>
      <key>public.kern2._kern9</key>
      <integer>-80</integer>
      <key>quotedblleft</key>
      <integer>40</integer>
      <key>quotedblright</key>
      <integer>20</integer>
      <key>quoteright</key>
      <integer>20</integer>
      <key>quotesingle</key>
      <integer>40</integer>
      <key>uni0410</key>
      <integer>-100</integer>
      <key>uni0414</key>
      <integer>-60</integer>
      <key>uni041B</key>
      <integer>-50</integer>
      <key>uni042F</key>
      <integer>-20</integer>
      <key>uni0430</key>
      <integer>-80</integer>
      <key>uni0431</key>
      <integer>-20</integer>
      <key>uni0432</key>
      <integer>-50</integer>
      <key>uni0434</key>
      <integer>-70</integer>
      <key>uni0436</key>
      <integer>-20</integer>
      <key>uni0439</key>
      <integer>-40</integer>
      <key>uni043B</key>
      <integer>-70</integer>
      <key>uni0443</key>
      <integer>-20</integer>
      <key>uni0445</key>
      <integer>-20</integer>
      <key>uni0451</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1._kern24</key>
    <dict>
      <key>colon</key>
      <integer>20</integer>
      <key>public.kern2._kern14</key>
      <integer>-40</integer>
      <key>public.kern2._kern9</key>
      <integer>-10</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>20</integer>
      <key>uni0430</key>
      <integer>-15</integer>
      <key>uni0434</key>
      <integer>-40</integer>
      <key>uni0442</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1._kern28</key>
    <dict>
      <key>Ccedilla</key>
      <integer>-10</integer>
      <key>G</key>
      <integer>-10</integer>
      <key>J</key>
      <integer>-80</integer>
      <key>Q</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>braceright</key>
      <integer>40</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>m</key>
      <integer>-20</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2._kern14</key>
      <integer>-80</integer>
      <key>public.kern2._kern15</key>
      <integer>-20</integer>
      <key>public.kern2._kern27</key>
      <integer>-60</integer>
      <key>public.kern2._kern28</key>
      <integer>40</integer>
      <key>public.kern2._kern29</key>
      <integer>-20</integer>
      <key>public.kern2._kern3</key>
      <integer>-20</integer>
      <key>public.kern2._kern30</key>
      <integer>-50</integer>
      <key>public.kern2._kern5</key>
      <integer>-50</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
      <key>quotesingle</key>
      <integer>40</integer>
      <key>u</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1._kern29</key>
    <dict>
      <key>public.kern2._kern21</key>
      <integer>30</integer>
      <key>public.kern2._kern5</key>
      <integer>-10</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1._kern30</key>
    <dict>
      <key>J</key>
      <integer>20</integer>
      <key>U</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W_alt</key>
      <integer>-40</integer>
      <key>public.kern2._kern14</key>
      <integer>30</integer>
      <key>public.kern2._kern15</key>
      <integer>20</integer>
      <key>public.kern2._kern19</key>
      <integer>-30</integer>
      <key>public.kern2._kern20</key>
      <integer>-20</integer>
      <key>public.kern2._kern28</key>
      <integer>-50</integer>
      <key>public.kern2._kern3</key>
      <integer>-15</integer>
      <key>public.kern2._kern30</key>
      <integer>15</integer>
      <key>public.kern2._kern31</key>
      <integer>-60</integer>
      <key>quoteright</key>
      <integer>-40</integer>
      <key>quotesingle</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>5</integer>
      <key>y2_alt</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1._kern31</key>
    <dict>
      <key>J</key>
      <integer>-90</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>m</key>
      <integer>-30</integer>
      <key>n</key>
      <integer>-30</integer>
      <key>p</key>
      <integer>-30</integer>
      <key>public.kern2._kern14</key>
      <integer>-80</integer>
      <key>public.kern2._kern15</key>
      <integer>-30</integer>
      <key>public.kern2._kern20</key>
      <integer>-20</integer>
      <key>public.kern2._kern27</key>
      <integer>-70</integer>
      <key>public.kern2._kern29</key>
      <integer>-30</integer>
      <key>public.kern2._kern3</key>
      <integer>-20</integer>
      <key>public.kern2._kern30</key>
      <integer>-60</integer>
      <key>public.kern2._kern5</key>
      <integer>-70</integer>
      <key>quoteright</key>
      <integer>20</integer>
      <key>u</key>
      <integer>-30</integer>
      <key>v</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>y2_alt</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1._kern4</key>
    <dict>
      <key>J</key>
      <integer>10</integer>
      <key>V</key>
      <integer>-25</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>public.kern2._kern14</key>
      <integer>-20</integer>
      <key>public.kern2._kern19</key>
      <integer>-5</integer>
      <key>public.kern2._kern28</key>
      <integer>-20</integer>
      <key>public.kern2._kern3</key>
      <integer>5</integer>
      <key>public.kern2._kern30</key>
      <integer>-15</integer>
      <key>public.kern2._kern31</key>
      <integer>-20</integer>
      <key>public.kern2._kern7</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1._kern6</key>
    <dict>
      <key>f</key>
      <integer>-10</integer>
      <key>parenright</key>
      <integer>-20</integer>
      <key>quotedblright</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>y2_alt</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1._kern8</key>
    <dict>
      <key>public.kern2._kern7</key>
      <integer>5</integer>
      <key>uni0410</key>
      <integer>-15</integer>
      <key>uni0414</key>
      <integer>-10</integer>
      <key>uni0416</key>
      <integer>-20</integer>
      <key>uni041B</key>
      <integer>-15</integer>
      <key>uni0422</key>
      <integer>-20</integer>
      <key>uni0423</key>
      <integer>-20</integer>
      <key>uni0425</key>
      <integer>-10</integer>
      <key>uni0431</key>
      <integer>10</integer>
      <key>uni0442</key>
      <integer>10</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>j</key>
      <integer>20</integer>
    </dict>
    <key>quotedblbase</key>
    <dict>
      <key>public.kern2._kern7</key>
      <integer>-30</integer>
      <key>uni0410</key>
      <integer>40</integer>
      <key>uni0414</key>
      <integer>40</integer>
      <key>uni0416</key>
      <integer>20</integer>
      <key>uni041B</key>
      <integer>20</integer>
      <key>uni0425</key>
      <integer>20</integer>
      <key>uni0434</key>
      <integer>60</integer>
      <key>uni0436</key>
      <integer>20</integer>
      <key>uni043B</key>
      <integer>40</integer>
      <key>uni0442</key>
      <integer>-40</integer>
      <key>uni0443</key>
      <integer>-30</integer>
      <key>uni0445</key>
      <integer>20</integer>
      <key>uni0447</key>
      <integer>-40</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>J</key>
      <integer>-100</integer>
      <key>V</key>
      <integer>10</integer>
      <key>f</key>
      <integer>40</integer>
      <key>i</key>
      <integer>20</integer>
      <key>l</key>
      <integer>20</integer>
      <key>public.kern2._kern14</key>
      <integer>-50</integer>
      <key>public.kern2._kern19</key>
      <integer>10</integer>
      <key>public.kern2._kern20</key>
      <integer>40</integer>
      <key>public.kern2._kern21</key>
      <integer>40</integer>
      <key>public.kern2._kern28</key>
      <integer>40</integer>
      <key>public.kern2._kern5</key>
      <integer>-30</integer>
      <key>uni0410</key>
      <integer>-40</integer>
      <key>uni0414</key>
      <integer>-40</integer>
      <key>uni0422</key>
      <integer>30</integer>
      <key>uni0423</key>
      <integer>30</integer>
      <key>uni0434</key>
      <integer>-40</integer>
      <key>uni043B</key>
      <integer>-40</integer>
      <key>uni0442</key>
      <integer>40</integer>
      <key>uni0443</key>
      <integer>40</integer>
      <key>uni0444</key>
      <integer>-30</integer>
      <key>v</key>
      <integer>40</integer>
      <key>x</key>
      <integer>40</integer>
      <key>y2_alt</key>
      <integer>40</integer>
      <key>z</key>
      <integer>40</integer>
    </dict>
    <key>quotedblright</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-50</integer>
    </dict>
    <key>quoteleft</key>
    <dict>
      <key>J</key>
      <integer>-100</integer>
      <key>V</key>
      <integer>20</integer>
      <key>X</key>
      <integer>20</integer>
      <key>Z</key>
      <integer>20</integer>
      <key>f</key>
      <integer>40</integer>
      <key>public.kern2._kern14</key>
      <integer>-50</integer>
      <key>public.kern2._kern19</key>
      <integer>20</integer>
      <key>public.kern2._kern20</key>
      <integer>40</integer>
      <key>public.kern2._kern21</key>
      <integer>40</integer>
      <key>public.kern2._kern28</key>
      <integer>40</integer>
      <key>public.kern2._kern30</key>
      <integer>-60</integer>
      <key>public.kern2._kern31</key>
      <integer>20</integer>
      <key>public.kern2._kern5</key>
      <integer>-20</integer>
      <key>uni0410</key>
      <integer>-40</integer>
      <key>uni0414</key>
      <integer>-20</integer>
      <key>uni041B</key>
      <integer>-20</integer>
      <key>uni0423</key>
      <integer>40</integer>
      <key>uni042A</key>
      <integer>20</integer>
      <key>uni0434</key>
      <integer>-30</integer>
      <key>uni043B</key>
      <integer>-30</integer>
      <key>uni0442</key>
      <integer>30</integer>
      <key>uni0443</key>
      <integer>30</integer>
      <key>v</key>
      <integer>40</integer>
      <key>x</key>
      <integer>40</integer>
      <key>y2_alt</key>
      <integer>40</integer>
      <key>z</key>
      <integer>40</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>J</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>20</integer>
      <key>X</key>
      <integer>20</integer>
      <key>Z</key>
      <integer>20</integer>
      <key>b</key>
      <integer>20</integer>
      <key>f</key>
      <integer>40</integer>
      <key>i</key>
      <integer>20</integer>
      <key>j</key>
      <integer>20</integer>
      <key>l</key>
      <integer>20</integer>
      <key>public.kern2._kern14</key>
      <integer>-50</integer>
      <key>public.kern2._kern17</key>
      <integer>20</integer>
      <key>public.kern2._kern19</key>
      <integer>20</integer>
      <key>public.kern2._kern28</key>
      <integer>40</integer>
      <key>public.kern2._kern30</key>
      <integer>-40</integer>
      <key>public.kern2._kern31</key>
      <integer>20</integer>
      <key>public.kern2._kern5</key>
      <integer>-30</integer>
      <key>public.kern2._kern9</key>
      <integer>-10</integer>
      <key>uni0434</key>
      <integer>-40</integer>
      <key>uni0442</key>
      <integer>40</integer>
      <key>uni0443</key>
      <integer>40</integer>
    </dict>
    <key>quotesingle</key>
    <dict>
      <key>J</key>
      <integer>-80</integer>
      <key>Z</key>
      <integer>40</integer>
      <key>b</key>
      <integer>40</integer>
      <key>f</key>
      <integer>40</integer>
      <key>public.kern2._kern19</key>
      <integer>40</integer>
      <key>public.kern2._kern21</key>
      <integer>40</integer>
      <key>public.kern2._kern28</key>
      <integer>40</integer>
      <key>public.kern2._kern30</key>
      <integer>-20</integer>
      <key>uni0422</key>
      <integer>20</integer>
      <key>uni0423</key>
      <integer>20</integer>
      <key>uni0427</key>
      <integer>20</integer>
      <key>uni0442</key>
      <integer>40</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>public.kern2._kern21</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>s_alt</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>scedilla</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>four</key>
      <integer>-60</integer>
      <key>one</key>
      <integer>20</integer>
      <key>public.kern2._kern14</key>
      <integer>-100</integer>
      <key>quotesingle</key>
      <integer>20</integer>
      <key>seven</key>
      <integer>30</integer>
      <key>three</key>
      <integer>-10</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>slash</key>
      <integer>-210</integer>
      <key>uni0422</key>
      <integer>30</integer>
      <key>uni0423</key>
      <integer>30</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>V</key>
      <integer>-80</integer>
      <key>five</key>
      <integer>40</integer>
      <key>public.kern2._kern19</key>
      <integer>-60</integer>
    </dict>
    <key>tcaron</key>
    <dict>
      <key>public.kern2._kern5</key>
      <integer>-20</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>public.kern2._kern14</key>
      <integer>30</integer>
      <key>two</key>
      <integer>15</integer>
    </dict>
    <key>uni0219</key>
    <dict>
      <key>c</key>
      <integer>10</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>uni0401</key>
    <dict>
      <key>quotedblright</key>
      <integer>20</integer>
      <key>uni043B</key>
      <integer>10</integer>
    </dict>
    <key>uni0410</key>
    <dict>
      <key>public.kern2._kern7</key>
      <integer>-15</integer>
      <key>quotedblleft</key>
      <integer>-40</integer>
      <key>quotedblright</key>
      <integer>-40</integer>
      <key>uni0410</key>
      <integer>15</integer>
      <key>uni0414</key>
      <integer>20</integer>
      <key>uni041B</key>
      <integer>10</integer>
      <key>uni0422</key>
      <integer>-50</integer>
      <key>uni0423</key>
      <integer>-40</integer>
      <key>uni0427</key>
      <integer>-70</integer>
      <key>uni0434</key>
      <integer>10</integer>
      <key>uni0436</key>
      <integer>10</integer>
      <key>uni043B</key>
      <integer>10</integer>
      <key>uni0442</key>
      <integer>-20</integer>
      <key>uni0443</key>
      <integer>-25</integer>
      <key>uni0447</key>
      <integer>-35</integer>
    </dict>
    <key>uni0411</key>
    <dict>
      <key>uni0414</key>
      <integer>-20</integer>
      <key>uni042F</key>
      <integer>-20</integer>
      <key>uni0434</key>
      <integer>-10</integer>
      <key>uni0436</key>
      <integer>-20</integer>
      <key>uni0445</key>
      <integer>-20</integer>
    </dict>
    <key>uni0412</key>
    <dict>
      <key>uni0423</key>
      <integer>-30</integer>
    </dict>
    <key>uni0415</key>
    <dict>
      <key>quotedblright</key>
      <integer>20</integer>
      <key>uni043B</key>
      <integer>10</integer>
    </dict>
    <key>uni0416</key>
    <dict>
      <key>public.kern2._kern7</key>
      <integer>-20</integer>
      <key>public.kern2._kern9</key>
      <integer>-20</integer>
      <key>uni0430</key>
      <integer>-10</integer>
      <key>uni0431</key>
      <integer>-10</integer>
      <key>uni0442</key>
      <integer>-20</integer>
      <key>uni0443</key>
      <integer>-20</integer>
      <key>uni0447</key>
      <integer>-40</integer>
    </dict>
    <key>uni0417</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-20</integer>
      <key>public.kern2._kern7</key>
      <integer>15</integer>
      <key>uni0425</key>
      <integer>-20</integer>
      <key>uni0444</key>
      <integer>10</integer>
    </dict>
    <key>uni041A</key>
    <dict>
      <key>public.kern2._kern15</key>
      <integer>20</integer>
      <key>public.kern2._kern7</key>
      <integer>-30</integer>
      <key>public.kern2._kern9</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>20</integer>
      <key>uni0430</key>
      <integer>-10</integer>
      <key>uni0431</key>
      <integer>-20</integer>
      <key>uni0443</key>
      <integer>-30</integer>
    </dict>
    <key>uni0420</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-90</integer>
      <key>public.kern2._kern7</key>
      <integer>10</integer>
      <key>public.kern2._kern9</key>
      <integer>-10</integer>
      <key>quotedblleft</key>
      <integer>20</integer>
      <key>uni0410</key>
      <integer>-60</integer>
      <key>uni0414</key>
      <integer>-50</integer>
      <key>uni0416</key>
      <integer>-20</integer>
      <key>uni0425</key>
      <integer>-20</integer>
      <key>uni0430</key>
      <integer>-10</integer>
      <key>uni0434</key>
      <integer>-40</integer>
      <key>uni043B</key>
      <integer>-35</integer>
      <key>uni0442</key>
      <integer>20</integer>
      <key>uni044F</key>
      <integer>-10</integer>
    </dict>
    <key>uni0421</key>
    <dict>
      <key>uni0422</key>
      <integer>-10</integer>
      <key>uni0425</key>
      <integer>-20</integer>
    </dict>
    <key>uni0422</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
      <key>parenright</key>
      <integer>40</integer>
      <key>public.kern2._kern11</key>
      <integer>-40</integer>
      <key>public.kern2._kern7</key>
      <integer>-20</integer>
      <key>public.kern2._kern9</key>
      <integer>-50</integer>
      <key>quotedblleft</key>
      <integer>40</integer>
      <key>quotedblright</key>
      <integer>30</integer>
      <key>uni0410</key>
      <integer>-50</integer>
      <key>uni0414</key>
      <integer>-10</integer>
      <key>uni0422</key>
      <integer>20</integer>
      <key>uni0423</key>
      <integer>10</integer>
      <key>uni0434</key>
      <integer>-40</integer>
      <key>uni043B</key>
      <integer>-40</integer>
      <key>uni0445</key>
      <integer>-20</integer>
      <key>uni0451</key>
      <integer>-30</integer>
      <key>uni0491</key>
      <integer>-40</integer>
    </dict>
    <key>uni0423</key>
    <dict>
      <key>braceright</key>
      <integer>40</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>public.kern2._kern11</key>
      <integer>-30</integer>
      <key>public.kern2._kern14</key>
      <integer>-100</integer>
      <key>public.kern2._kern15</key>
      <integer>-20</integer>
      <key>public.kern2._kern7</key>
      <integer>-15</integer>
      <key>public.kern2._kern9</key>
      <integer>-55</integer>
      <key>quotedblleft</key>
      <integer>40</integer>
      <key>quotedblright</key>
      <integer>30</integer>
      <key>quoteright</key>
      <integer>40</integer>
      <key>quotesingle</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>uni0410</key>
      <integer>-70</integer>
      <key>uni0414</key>
      <integer>-40</integer>
      <key>uni0422</key>
      <integer>10</integer>
      <key>uni0423</key>
      <integer>16</integer>
      <key>uni042F</key>
      <integer>-20</integer>
      <key>uni0430</key>
      <integer>-60</integer>
      <key>uni0431</key>
      <integer>-20</integer>
      <key>uni0434</key>
      <integer>-70</integer>
      <key>uni0436</key>
      <integer>-10</integer>
      <key>uni0439</key>
      <integer>-20</integer>
      <key>uni043B</key>
      <integer>-50</integer>
      <key>uni0451</key>
      <integer>-30</integer>
      <key>uni0491</key>
      <integer>-30</integer>
    </dict>
    <key>uni0424</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-50</integer>
      <key>uni0425</key>
      <integer>-20</integer>
      <key>uni0434</key>
      <integer>-20</integer>
    </dict>
    <key>uni0425</key>
    <dict>
      <key>bracketright</key>
      <integer>40</integer>
      <key>public.kern2._kern7</key>
      <integer>-10</integer>
      <key>uni0417</key>
      <integer>-20</integer>
      <key>uni0421</key>
      <integer>-20</integer>
      <key>uni0424</key>
      <integer>-20</integer>
      <key>uni042D</key>
      <integer>-20</integer>
    </dict>
    <key>uni042A</key>
    <dict>
      <key>quotedblright</key>
      <integer>-40</integer>
      <key>quoteright</key>
      <integer>-20</integer>
      <key>uni0422</key>
      <integer>-50</integer>
    </dict>
    <key>uni042C</key>
    <dict>
      <key>quotedblleft</key>
      <integer>-60</integer>
      <key>quotedblright</key>
      <integer>-40</integer>
      <key>quoteright</key>
      <integer>-40</integer>
      <key>uni0416</key>
      <integer>-20</integer>
      <key>uni0422</key>
      <integer>-50</integer>
      <key>uni0427</key>
      <integer>-30</integer>
    </dict>
    <key>uni042D</key>
    <dict>
      <key>uni0425</key>
      <integer>-20</integer>
    </dict>
    <key>uni042E</key>
    <dict>
      <key>uni0425</key>
      <integer>-20</integer>
    </dict>
    <key>uni0431</key>
    <dict>
      <key>quoteright</key>
      <integer>20</integer>
      <key>uni0431</key>
      <integer>15</integer>
      <key>uni0441</key>
      <integer>10</integer>
      <key>uni0444</key>
      <integer>10</integer>
    </dict>
    <key>uni0432</key>
    <dict>
      <key>uni0436</key>
      <integer>-10</integer>
      <key>uni0445</key>
      <integer>-15</integer>
      <key>uni044F</key>
      <integer>-10</integer>
    </dict>
    <key>uni0436</key>
    <dict>
      <key>public.kern2._kern9</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>30</integer>
      <key>uni0430</key>
      <integer>-10</integer>
    </dict>
    <key>uni0437</key>
    <dict>
      <key>uni0441</key>
      <integer>10</integer>
    </dict>
    <key>uni043A</key>
    <dict>
      <key>public.kern2._kern9</key>
      <integer>-10</integer>
      <key>uni0430</key>
      <integer>-10</integer>
    </dict>
    <key>uni0440</key>
    <dict>
      <key>uni0441</key>
      <integer>10</integer>
    </dict>
    <key>uni0441</key>
    <dict>
      <key>uni0441</key>
      <integer>10</integer>
    </dict>
    <key>uni0442</key>
    <dict>
      <key>colon</key>
      <integer>20</integer>
      <key>public.kern2._kern14</key>
      <integer>-20</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
      <key>uni0434</key>
      <integer>-20</integer>
      <key>uni0442</key>
      <integer>30</integer>
      <key>uni0443</key>
      <integer>20</integer>
      <key>uni044A</key>
      <integer>20</integer>
    </dict>
    <key>uni0443</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-20</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
      <key>uni0442</key>
      <integer>10</integer>
      <key>uni0443</key>
      <integer>10</integer>
    </dict>
    <key>uni0444</key>
    <dict>
      <key>quotedblright</key>
      <integer>-30</integer>
      <key>uni0441</key>
      <integer>10</integer>
    </dict>
    <key>uni0445</key>
    <dict>
      <key>public.kern2._kern9</key>
      <integer>-10</integer>
    </dict>
    <key>uni044C</key>
    <dict>
      <key>quotedblright</key>
      <integer>-40</integer>
      <key>uni0442</key>
      <integer>-30</integer>
      <key>uni044F</key>
      <integer>-10</integer>
    </dict>
    <key>uni044D</key>
    <dict>
      <key>uni0441</key>
      <integer>10</integer>
    </dict>
    <key>uni044E</key>
    <dict>
      <key>uni0441</key>
      <integer>10</integer>
    </dict>
    <key>uni0451</key>
    <dict>
      <key>uni0441</key>
      <integer>10</integer>
    </dict>
    <key>uni0490</key>
    <dict>
      <key>public.kern2._kern24</key>
      <integer>-40</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-20</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2._kern5</key>
      <integer>-10</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>y2_alt</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-20</integer>
      <key>public.kern2._kern5</key>
      <integer>-5</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>public.kern2._kern14</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-15</integer>
    </dict>
  </dict>
</plist>
